.profile {
  color: #A1A5A8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  background: #FFFFFF;
  border: 1px solid #E6E7EB;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-top: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  border: 1px transparent solid;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  margin-bottom: 8px;
}

.tag {
  margin-bottom: 9px;
}

.stats {
  display: flex;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F6F9;
  border-top: 1px solid #E6E7EB;
  padding: 20px 16px;
  width: 84px;
}

.stats li:not(:last-child) {
  border-right: 1px solid #E6E7EB;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  color: #7A8187;
  margin-bottom: 4px;
}

.quantity {
  color: #1B2228;
}